.ace-tomorrow-night .ace_marker-layer .ace_active-line,
.ace-tomorrow-night .ace_gutter-active-line {
    background: rgba(255, 255, 255, 0.05);
}

.ace-tomorrow-night .ace_marker-layer .ace_selection {
    background: rgba(255, 255, 255, 0.1);
}

.ace-tomorrow-night {
    background: #234;
}

.ace-tomorrow-night .ace_print-margin,
.ace-tomorrow-night .ace_gutter {
    background: #345;
}
