.editors {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.editor-container {
    $animationSelector: 'editor';
    @include slide($animationSelector);
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    margin: 1rem;
    margin-right: 0;
    margin-bottom: 0;
    animation-fill-mode: forwards;
    animation-duration: 250ms;

    &.#{$animationSelector}-slide-in {
        animation-name: #{$animationSelector}-slide-in;
    }

    &.#{$animationSelector}-slide-out {
        animation-name: #{$animationSelector}-slide-out;
    }

    &.disabled {
        display: none;
    }

    .editor {
        flex: 1;
    }

    @import '_codemagic-tomorrow-night';
}

.editor-settings {
    $animationSelector: 'editor-settings';
    @include slide($animationSelector);
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 2.54em;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    color: #fff;
    background-color: #345;
    animation-fill-mode: forwards;
    animation-duration: 250ms;

    &.#{$animationSelector}-slide-in {
        animation-name: #{$animationSelector}-slide-in;
    }

    &.#{$animationSelector}-slide-out {
        animation-name: #{$animationSelector}-slide-out;
    }

    &.disabled {
        z-index: -1;
    }
}

.editor-settings-bar {
    display: flex;
    color: #fff;
    background-color: #345;

    .editor-settings-bar-mode,
    .editor-settings-bar-expand,
    .editor-settings-bar-toggle {
        padding: 0.675em 1em;
    }

    .editor-settings-bar-mode {
        flex: 1;
    }

    .editor-settings-bar-expand,
    .editor-settings-bar-toggle {
        font-size: 0.875em;
        color: #fff;
        border: 0;
        background-color: transparent;
        text-shadow: none;
        transition: all 250ms;
        outline: none;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
            text-shadow: rgba(255, 255, 255, 0.4) 0 0 3em, rgba(76, 190, 255, 0.95) 0 0 2em;
        }
    }
}
