.editors {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.editor-container {
    display: none;
    flex: 1;
    flex-direction: column;
    position: relative;
    margin: 1rem;
    margin-right: 0;
    margin-bottom: 0;

    &.enabled {
        display: flex;
    }

    .editor {
        flex: 1;
    }

    .ace-tomorrow-night .ace_marker-layer .ace_active-line,
    .ace-tomorrow-night .ace_gutter-active-line {
        background: rgba(255, 255, 255, 0.05);
    }

    .ace-tomorrow-night .ace_marker-layer .ace_selection {
        background: rgba(255, 255, 255, 0.1);
    }

    .ace-tomorrow-night {
        background: #234;
    }

    .ace-tomorrow-night .ace_print-margin,
    .ace-tomorrow-night .ace_gutter {
        background: #345;
    }
}

.editor-settings {
    display: flex;
    color: #fff;

    .editor-settings-mode,
    .editor-settings-expand,
    .editor-settings-toggle {
        padding: 0.675em 1em;
    }

    .editor-settings-mode {
        flex: 1;
        padding-left: 0;
    }

    .editor-settings-expand,
    .editor-settings-toggle {
        font-size: 0.875em;
        color: #fff;
        border: 0;
        background-color: transparent;
        text-shadow: none;
        transition: all 250ms;
        outline: none;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
            text-shadow: rgba(255, 255, 255, 0.4) 0 0 3em, rgba(76, 190, 255, 0.95) 0 0 2em;
        }
    }
}
