.toolbar {
    box-sizing: border-box;
    display: flex;
    background-color: #345;
    border: 0;
    box-shadow: 0 0 5px #111;
    z-index: 2;

    &.vertical {
        flex-direction: column;
        border-bottom-width: 0;
        border-right-width: 2px;

        .toolbar-item {
            &.toggle {
                color: rgba(255, 255, 255, 0.5);
                border-bottom-width: 0;
                border-left-width: 3px;
            }
        }

        .toolbar-item-separator {
            border-right-width: 0;
            border-bottom-width: 1px;
        }
    }
}

.toolbar-item {
    padding: 1em;
    cursor: pointer;
    font-size: 0.875em;
    color: #fff;
    border: 0;
    background-color: transparent;
    text-shadow: none;
    transition: all 250ms;
    outline: none;

    &.toggle {
        color: rgba(255, 255, 255, 0.5);
        border: 0 solid rgba(255, 255, 255, 0.25);
        border-bottom-width: 3px;

        &.active {
            color: #fff;
            background: rgba(255, 255, 255, 0.1);
            border-color: #fff;

            &:hover {
                background: rgba(255, 255, 255, 0.25);
            }
        }

        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }
    }

    &:hover {
        background: rgba(255, 255, 255, 0.1);
        text-shadow: rgba(255, 255, 255, 0.4) 0 0 3em, rgba(76, 190, 255, 0.95) 0 0 2em;
    }
}

.toolbar-item-expand {
    flex: 1;
    cursor: initial;
    visibility: hidden;
}

.toolbar-item-space {
    cursor: initial;
    visibility: hidden;
}

.toolbar-item-separator {
    padding: 0;
    cursor: initial;
    border: 0 dashed #456;
    border-left-width: 1px;
}

.toolbar-item-brand {
    background-color: #456;
}
